{
  "extends": "airbnb",
  "rules": {
    "strict": 0,
    "max-len": ["error", 120],
    "no-param-reassign": 0,
    "valid-jsdoc": ["warn"],
    "require-jsdoc": [
      "warn",
      "require": {
          "FunctionDeclaration": true,
          "MethodDefinition": true,
          "ClassDeclaration": true
      }
    ],
  }
}
